
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台模板</title>
    <link rel="stylesheet" href="~/后台模板/assets/css/amazeui.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/core.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/menu.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/index.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/admin.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/page/typography.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/page/form.css" />
    <link rel="stylesheet" href="~/后台模板/assets/css/component.css" />
</head>
<body style="background-color:#f6f2f2">
    @Styles.Render("~/Content/css")
    <!-- Begin page -->
    <header class="am-topbar am-topbar-fixed-top">
        <div class="am-topbar-left am-hide-sm-only">
            <a class="logo"><span>管理员:<span id="Login"></span></span><i class="zmdi zmdi-layers"></i></a>

        </div>

        <div class="contain">
            <ul class="am-nav am-navbar-nav am-navbar-left">

                <li><h4 class="page-title">欢迎登录旭耀医院管理平台</h4></li>
            </ul>

            <ul class="am-nav am-navbar-nav am-navbar-right">
                <li class="inform"><i class="am-icon-bell-o" aria-hidden="true"></i></li>
                <li class="hidden-xs am-hide-sm-only">
                    <form role="search" class="app-search">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><img src="~/后台模板/assets/img/search.png"></a>
                    </form>
                </li>
            </ul>
        </div>
    </header>
    <!-- end page -->


    <div class="admin" >
        <!--<div class="am-g">-->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
                <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
        <!-- sidebar start -->
        <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <!-- User -->
                <div class="user-box am-hide-sm-only">
                    <div class="user-img">
                        <img src="~/images/logo.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                        <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>
                    </div>
                    <h5><a href="#">Welcome to Hospital</a> </h5>
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="text-custom">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User -->

                <ul class="am-list admin-sidebar-list">
                    <li><a href="/Probably/ProbablyShow"><span class="am-icon-home"></span> 首页</a></li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-table"></span> 概况 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
                            <li><a href="/Probably/WorkBench" class="am-cf"> 工作台</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 挂号 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav3">
                            <li><a href="/Registration/RegistrationShow" class="am-cf"> 挂号记录</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav4'}"><span class="am-icon-file"></span> 患者管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav4">
                            <li><a href="/Patients/PatientsShow" class="am-cf"> 显示患者信息</a></li>
                            <li><a href="/Patients/PatientsAdd">新增患者</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav8'}"><span class="am-icon-file"></span> 药品信息 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav8">
                            <li><a href="/Drug/DrugShow" class="am-cf"> 药品信息维护</a></li>
                            <li><a href="/Repertory/RepertoryShow">入库管理</a></li>
                            <li><a href="/Repertory/OutRepertoryShow">出库管理</a></li>
                            <li><a href="/Repertory/ManageInventory">库存明细</a></li>
                            <li><a href="/Drug/DrugadJustPrice">药品调价</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file"></span> 员工管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav5">
                            <li><a href="/Hospital/Show" class="am-cf"> 员工管理</a></li>
                            <li><a href="~/Hospital/Showoff">科室管理</a></li>
                            <li><a href="~/Hospital/Showrole">角色管理</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav9'}"><span class="am-icon-file"></span>会员管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav9">
                            <li><a href="/Menber/MenberShow" class="am-cf"> 会员列表</a></li>
                            <li><a href="/Menber/MenbeShow">储值管理</a></li>
                            <li><a href="/Menber/MenbShow">积分管理</a></li>
                            <li><a href="/Menber/SettingShow">会员设置</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-page">
            <!-- Start content -->
            @RenderBody()

        </div>


    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="~/后台模板/assets/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/后台模板/assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="~/后台模板/assets/js/app.js"></script>
    <script type="text/javascript" src="~/后台模板/assets/js/blockUI.js"></script>
    <script type="text/javascript" src="~/后台模板/assets/js/charts/echarts.min.js"></script>
    <script type="text/javascript" src="~/后台模板/assets/js/charts/indexChart.js"></script>

</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script>
    function getCookie(Uname) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(Uname + "=")
            if (c_start != -1) {
                c_start = c_start + Uname.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }
    $(function () {
        if (getCookie("Uname") == undefined) {
            $("#Login").html("<a href='/UserInfo/Loginif'>请登录</a>");
        }
        else {
            $("#Login").html(getCookie("Uname"));
        }
    });
</script>
